{% extends "year/page.html" %}
{% block page_content %}
{% load static %}
{% load html_extras %}

<!-- Volunteer areas -->

<!-- Åben for tilmelding -->
{% if areas %}
  <div class="contaniner mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center">Åben for tilmelding</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% if open_areas %}
        {% for area in open_areas %}
          <div class="col-md-3 mt-3">
            <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
              <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#{{ area.name }}">
                <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if area.bg %}{{ area.bg.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); height:30vh; overflow: hidden; box-shadow: inset 0 0 0 2000px rgba(0, 128, 0, 0.3;">
                  <div class="card-body text-dark">
                    <h5 class="card-title">{{ area.name }}</h5>
                    <p class="card-text">{{ area.short_description | filter }}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div>
          <p class="text-center">Der er ingen områder at vise.</p>
        </div>
      {% endif %}

  <!-- Lukket for tilmelding -->

  {# if any(area_volunteerCount >= area_volunteerMax) #}

  <div class="contaniner mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center">Lukket for tilmelding</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% if closed_areas %}
        {% for area in closed_areas %}
          <div class="col-md-3 mt-3">
            <div class="border border-2 rounded-3">
              <a  style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#{{ area.name }}">
                <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if area.bg %}{{ area.bg.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); height:30vh; overflow: hidden;">
                  <div class="card-body text-dark">
                    <h5 class="card-title">{{ area.name }}</h5>
                    <p class="card-text">{{ area.short_description | filter }}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div>
          <p class="text-center">Der er ingen områder at vise.</p>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Endnu ikke åbent for tilmelding -->

  {# if any(area_volunteerMax) == 0 #}

  <div class="contaniner mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center">Endnu ikke åbent for tilmelding</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% if unopened_areas %}
        {% for area in unopened_areas %}
          <div class="col-md-3 mt-3">
            <div class="border border-white border-2 rounded-3">
              <a  style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#{{ area.name }}">
                <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if area.bg %}{{ area.bg.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); height:30vh; overflow: hidden;">
                  <div class="card-body text-dark">
                    <h5 class="card-title">{{ area.name }}</h5>
                    <p class="card-text">{{ area.short_description | filter }}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div>
          <p class="text-center">Der er ingen områder at vise.</p>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Pop-up for frivilligområde -->
  {% for area in areas %}
    {% if area.published %}
      <div class="modal fade" style="max-height:100vh;" id="{{ area.name }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="min-width:50vw;max-height:50%;">
          <div class="modal-content" style="background-size:cover; background-image:url('{% if area.bg %}{{ area.bg.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}');">
              <div class="modal-header">
                <h1 class="modal-title bello" id="exampleModalLabel">{{ area.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body overflow-auto h-75">
                <h5>{{ area.short_description }}</h5>
                <p>{{ area.long_description | filter }}</p>
              </div>
              <div class="modal-footer opacity-25">
                <div class="col-md-3 mx-auto">
                  {% if area.volunteerCount >= area.volunteerMax %}
                    <div class="border border-2 rounded-3 fill-color-bg">
                       <p class="text-center bello h3 mt-2">
                         Lukket for<br/> tilmelding
                       </p>
                    </div>
                  {% else %}
                    <div class="border border-white border-2 rounded-3 fill-color-bg">
                      <a href="{% if user.is_authenticated %}{% url 'hzd:volunteer_create' %}{% else %}{% url 'accounts:signup' %}?role=volunteer&area={{ area.pk }}{% endif %}" class="fill-div">
                         <p class="text-center bello h3 mt-2">
                           Tilmeld<br/> dig
                         </p>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock page_content %}
