{% extends "year/page.html" %}
{% block page_content %}
<div class="d-flex justify-content-center m-3">
  <a class="btn btn-primary" href="{% url 'year:send_application' %}">
    <h2>Ansøg her</h2>
  </a>
</div>
{% endblock page_content %}
