{% extends 'year/page.html' %}
{% block page_content %}
<div class="d-flex justify-content-center m-3">
  <a class="btn btn-primary" href="https://www.place2book.com/da/sw2/sales/6ozz11buoq">
    <h2>Køb busbillet</h2>
  </a>
</div>
{% endblock page_content %}
