{% extends "year/page.html" %}
{% block page_content %}
<h5>Vil du optræde på Nakkefestival – så skriv til os i Booking!</h5>
<p>Nakkefestival er i snart 25 år blevet skabt i fællesskab af musikere, kreative personer og ildsjæle. Vi ønsker alle at skabe et frirum fuld af kærlighed og fællesskab, hvor ingen tjener penge på andre. Nakkefestival er derfor 100 procent not-for profit og arrangeret af frivillige arrangører. Vi har ingen sponsoraftaler – og al festivalens overskud doneres væk.</p>
<p>Dette betyder også, at vi ikke tilbyder tarif eller honorar for din optræden, men vi giver naturligvis transportgodtgørelse, forplejning, og gratis adgang til hele festivalen. Vi håber, at du har lyst til at deltage på de vilkår, og skabe denne ganske særlige festival sammen med os.</p>
<p>Alle kunstneriske udtryk er velkomne på Nakkefestival. Vi lægger dog især stor vægt på originalitet og alternative udtryk, og Nakkefestival byder derfor på en alternativ atmosfære med sære eksistenser og utraditionelle optrædende.</p>
<h5>Ansøgninger</h5>
<p>Hvis du/I ønsker at optræde på Nakkefestival, kan du/I sende en mail til os på: <a href="mailto:booking@nakkefestival.dk">booking@nakkefestival.dk</a></p>
<h5>Nakkefestival søger altid optrædende!</h5>
<p>Vi opererer ikke med en booking-deadline men booker hele året. Men jo før I sender os en mail jo bedre. Vi får rigtigt mange mails hvert år, og svarer derfor kun de bands, vi vælger at booke. Vi kan dog garantere, at alle der sender en ansøgning, vil blive vurderet.</p>
<p>Hvis ikke I får svar i år, så prøv meget gerne igen næste år.</p>
<p>Vi gør også opmærksom på at Nakkefestival ikke booker cover/kopi-bands, og at ansøgninger fra sådanne vil blive frasorteret med det samme.</p>
<p>Vi ser frem til at modtage din/jeres ansøgning.</p>
<p>Kys i nakken,</p>
<p>Booking-gruppen <3</p>
{% endblock page_content %}
