{% if form %}
  <form method="{{ method }}" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% for field in form %}
      <div class="mb-3">
        {{ field.errors }}
        {{ field.label_tag }}<br> 
        {{ field }}
        {% if field.help_text %}
          <p class="help" id="{{ field.auto_id }}_helptext">
          {{ field.help_text|safe }}
          </p>
        {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">{{ button_label }}</button>
  </form>
{% else %}
  <p>No form provided.</p>
{% endif %}

