{% extends "year/page.html" %}
{% block page_content %}
<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
{% if pages %}
<div class="table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=title"><b>Title</b></a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=year">Year</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=bg_image">Image</a></th>
      <th></th>
    </thead>
    <tbody>
    {% for page in pages %}
      <tr class="clickable-row" data-href="{% url 'hzd:page' pk=page.pk %}?next={{ request.path }}">
        <td><b>{{ page.title }}</b></td>
        <td class="d-none d-sm-table-cell">{{ page.year }}</td>
        <td class="d-none d-sm-table-cell"><img href=""/>{{ page.bg_image }}</td>
        <td>
          <a href="{% url 'hzd:page' pk=page.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}

<style>
.clickable-row {
    cursor: pointer;
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const rows = document.querySelectorAll("tr[data-href]");
  rows.forEach(row => {
    row.addEventListener("click", function() {
      window.location.href = this.getAttribute("data-href");
    });
  });
});
</script>
{% endblock page_content %}
