<!-- index.html -->
{% extends "year/page.html" %}
{% block page_content %}

<div class="row mb-3">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
        <li class="dropdowm-item ">
          <a class="dropdown-item d-block" href="{% url 'hzd:volunteers' year=year_obj.year %}">{{ year_obj.year }}</a> 
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:volunteer_create' %}?next={{ request.path }}">
    <i class="fa fa-plus-circle" aria-hidden="true"> Opret Frivillig</i>
  </a>
</div>

{% if volunteer_applications %}
  <div class="table-container">
      <table class="table table-striped table-bordered table-hover">
          <thead>
              <th class="d-none d-sm-table-cell">
                <a class="btn btn-primary" href="?sort=year&order={% if current_sort == 'year' and next_order == 'desc' %}desc{% else %}asc{% endif %}">
                  <b>År</b>
                </a>
              </th>
              <th class="d-none d-sm-table-cell">
                <a class="btn btn-primary" href="?sort=time&order={% if current_sort == 'time' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                  Ansøgningstid
                </a>
              </th>
              <th class="overflow-hidden text-truncate">
                <a class="btn btn-primary" href="?sort=area&order={% if current_sort == 'area' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                  Område
                </a>
              </th>
              <th class="overflow-hidden text-truncate">
                <a class="btn btn-primary" href="?sort=user&order={% if current_sort == 'user' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                  Ansøger
                </a>
              </th>
              <th class="overflow-hidden text-truncate">
                <a class="btn btn-primary" href="?sort=status&order={% if current_sort == 'status' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                  Status
                </a>
              </th>
              <th></th>
          </thead>
          <tbody>
              {% for application in volunteer_applications %}
                {% if application %}
                  <tr class="clickable-row" data-href="{% url 'hzd:volunteer' pk=application.pk %}?next={{ request.path }}">
                    <td class="d-none d-sm-table-cell"><b>{{ application.year }}</b></td>
                    <td class="d-none d-sm-table-cell">{{ application.time }}</td>
                    <td class="sm-truncate">{{ application.area }}</td>
                    <td class="sm-truncate">{{ application.user }}</td>
                    <td class="sm-truncate">{{ application.status }}</td>
                    <td>
                      <a href="{% url 'hzd:volunteer' pk=application.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
                      <br>
                      <a href="{% url 'hzd:shifts' area=application.area.pk %}?next={{ request.path }}">
                        <i class="fa fa-users" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
          </tbody>
      </table>
  </div>
{% else %}
  <p>There are no pages to be displayed</p>
{% endif %}

{% endblock %}
