{% extends "year/page.html" %}
{% block page_content %}
<div class="container" style="background:rgb(200,235,253,0.5)">
  <a href="{% url 'accounts:user' pk=user.pk %}">
    <h2>{{ user.username }}</h2>
  </a>
  <dl>
    <dt>
      Navn
    </dt>
    <dd>
      <p>{{ user.first_name }} {{ user.last_name }}</p>
    </dd>
    <dt>
      Email
    </dt>
    <dd>
      <p>{{ user.email }}</p>
    </dd>
    <dt>
      Telefon
    </dt>
    <dd>
      <p>{{ user.phone }}</p>
    </dd>
    <dt>
      Adresse
    </dt>
    <dd>
      <p>{{ user.address.street }} {{ user.address.number }}, {{ user.address.post }}</p>
    </dd>
    <dt>
      Fødselsdato
    </dt>
    <dd>
      <p>{{ user.birthdate }}</p>
    </dd>
  </dl>
</div>
<div style="background-image: url('{{ bg.image_url }}');">
    <!-- Include the reusable form template -->
    {% include 'form_snippet.html' with form=form method='post' action='' button_label='Opdater' %}
</div>

<!-- Delete Modal -->
{% if button_label_delete %}
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:50vw;">
      <div class="modal-content" style="background-size:cover; background-image:url('{{ STATIC_DEV|add:"img/bg/home.jpg" }}');">
        <div class="modal-header">
          <h1 class="modal-title bello" id="exampleModalLabel">Slet</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Er du sikker?</p>
        </div>
        <div class="modal-footer">
          <form method="post" action="{% url 'hzd:volunteer_delete' volunteer_edit.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Slet det</button>
          </form>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">
            <p>Fortryd</p>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock page_content %}
