{% extends "year/page.html" %}
{% block page_content %}
{% load html_extras %}

<div class="row">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
        {% if year_obj.published == True %}
          <li class="dropdowm-item ">
              <a class="dropdown-item d-block" href="{% url 'year:kunstnere' year=year_obj.year %}">{{ year_obj.year }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <hr>
    {% if years_with_artists %}
      {% for artist in years_with_artists %}
        <div class="col-md-4 mt-3">
          <div class="border border-white border-2 rounded-3">
          <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#artistModal{{ artist.pk }}">
              <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                <div class="card-body text-dark">
                  <p class="card-title text-center">{{ artist.artist_name }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>Der er ingen kunstnere at vise</p>
    {% endif %}
  </div>
</div>

<!-- Pop-up for artist -->
{% for artist in years_with_artists %}
  <div class="modal fade" id="artistModal{{ artist.pk }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:50vw;">
      <div class="modal-content" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}');">
        <div class="modal-header">
          <h1 class="modal-title bello" id="exampleModalLabel">{{ artist.artist_name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height:75vh;">
          <h5>{{ artist.artist_short_description }}</h5>
          <p>{{ artist.artist_long_description | filter }}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock page_content %}
