{% extends "year/page.html" %}
{% block page_content %}
{% load html_extras %}

<div class="row">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
        {% if year_obj.published %}
          <li class="dropdowm-item ">
            <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% if years_with_programs %}
  {% for year in years_with_programs %}
    {% if year.published == True %}
      {% if year.programs.all %}
        {% for date, programs in year.grouped_programs.items %}
          <hr>
          <div class="row">
            <div class="col-3 d-none d-lg-block">
              <h2 class="bello" style="text-align:center">{{ date }}</h2>
            </div>
            <div class="col-3 d-none d-lg-block">
              <h3 class="bello" style="text-align:center">Den Ene Scene</h3>
            </div>
            <div class="col-3 d-none d-lg-block">
              <h3 class="bello" style="text-align:center">Den Anden Scene</h3>
            </div>
            <div class="col-3 d-none d-lg-block">
              <h3 class="bello" style="text-align:center">Krea</h3>
            </div>
          </div>
          {% for program in programs %}
            {% if program.published == True %}
              <div class="row d-flex mb-1">
                <div class="col-md-8 col-sm-12 col-lg-3">
                  <h5>{{ program.start_time|time:"h:i A" }}</h5>
                </div>
                {% if program.stage.name == 'Den ene scene' %}
                  {% if program.artist %}
                    <div class="col-md-8 col-sm-12 col-lg-3 overflow-hidden" style="max-height:200px">
                      <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                        <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                          <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                            <div class="card-body text-dark">
                              <h5 class="card-title">{{ program.artist }}</h5>
                              <p class="card-text">{{ program.artist_short_description | filter | filter }}</p>
                            </div>
                            <div class="border d-lg-none">
                              <h6 class="text-center">{{ program.stage }}</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% elif program.event %}
                    <div class="col-md-8 col-sm-12 col-lg-3 overflow-hidden" style="max-height:200px">
                      <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                        <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                          <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                            <div class="card-body text-dark">
                              <h5 class="card-title">{{ program.event }}</h5>
                              <p class="card-text">{{ program.event_short_description | filter }}</p>
                            </div>
                            <div class="border d-lg-none">
                              <h6 class="text-center">{{ program.stage }}</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                {% elif program.stage.name == "Den anden scene" %}
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                  {% if program.artist %}
                    <div class="col-md-8 col-sm-12 col-lg-3 overflow-hidden" style="max-height:200px">
                      <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                        <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                          <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                            <div class="card-body text-dark">
                              <h5 class="card-title">{{ program.artist }}</h5>
                              <p class="card-text">{{ program.artist_short_description | filter }}</p>
                            </div>
                            <div class="border d-lg-none">
                              <h6 class="text-center">{{ program.stage }}</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% elif program.event %}
                    <div class="col-md-8 col-sm-12 col-lg-3 overflow-hidden" style="max-height:200px">
                      <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                        <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                          <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                            <div class="card-body text-dark">
                              <h5 class="card-title">{{ program.event }}</h5>
                              <p class="card-text">{{ program.event_short_description | filter }}</p>
                            </div>
                            <div class="border d-lg-none">
                              <h6 class="text-center">{{ program.stage }}</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                {% elif program.stage.name == "Krea" %}
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                  {% if program.artist %}
                    <div class="col-md-8 col-sm-12 col-lg-3 overflow-hidden" style="max-height:200px">
                      <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                        <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                          <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                            <div class="card-body text-dark">
                              <h5 class="card-title">{{ program.artist }}</h5>
                              <p class="card-text">{{ program.artist_short_description | filter }}</p>
                            </div>
                            <div class="border d-lg-none">
                              <h6 class="text-center">{{ program.stage }}</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% elif program.event %}
                    <div class="col-md-8 col-sm-12 col-lg-3 overflow-hidden" style="max-height:200px">
                      <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                        <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                          <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                            <div class="card-body text-dark">
                              <h5 class="card-title">{{ program.event }}</h5>
                              <p class="card-text">{{ program.event_short_description | filter }}</p>
                            </div>
                            <div class="border d-lg-none">
                              <h6 class="text-center">{{ program.stage }}</h6>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                {% elif program.stage.name == "Nat DJ" %}
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                  <div class="col-md-8 col-sm-12 col-lg-3 overflow-hidden" style="max-height:200px">
                    <div class="border border-2 rounded-3" style="border-color:#FBCC38 !important ;">
                      <a style="display:block" href="#" data-bs-toggle="modal" data-bs-target="#programModal{{ program.pk }}">
                        <div class="bg-image card shadow-1-strong" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}'); overflow: hidden;">
                          <div class="card-body text-dark">
                            <h5 class="card-title">{{ program.artist }}</h5>
                            <p class="card-text">{{ program.artist_short_description | filter }}</p>
                          </div>
                          <div class="border d-lg-none">
                            <h6 class="text-center">{{ program.stage }}</h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-0 col-sm-0 col-lg-3"></div>
                {% endif %}
              </div>
              <!-- Pop-ups for artister og events -->
              {% if program.event %}
                <div class="modal fade" id="programModal{{ program.pk }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                  <div class="modal-dialog" style="min-width:50vw;">
                  <div class="modal-content" style="background-size:cover; background-image:url('{% if event.img %}{{ event.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}');">
                      <div class="modal-header">
                        <h1 class="modal-title bello" id="exampleModalLabel">{{ program.event }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" style="min-height:75vh;">
                        <h5>{{ program.event_short_description | filter }}</h5>
                        <p>{{ program.event_long_description | filter }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% elif program.artist %}
                <div class="modal fade" id="programModal{{ program.pk }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                  <div class="modal-dialog" style="min-width:50vw;">
                    <div class="modal-content" style="background-size:cover; background-image:url('{% if artist.img %}{{ artist.img.url }}{% else %}{{ STATIC_DEV|add:"img/bg/home.jpg" }}{% endif %}');">
                      <div class="modal-header">
                        <h1 class="modal-title bello" id="exampleModalLabel">{{ program.artist }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" style="min-height:75vh;">
                        <h5>{{ program.artist_short_description | filter }}</h5>
                        <p>{{ program.artist_long_description | filter }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% else %}
          <p>Der er ingen begivenheder i {{ year.year }} endnu!</p>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock page_content %}
