{% extends "year/layout.html" %}
{% block content %}

{% load static %}
{% load html_extras %}
<video id="video_background" preload="auto" autoplay="true" loop muted>
  <source src="{{ STATIC_DEV|add:"video/nakke_covervid.mp4" }}" type="video/mp4">
  <source src="{{ STATIC_DEV|add:"video/nakke_covervid.webm" }}" type="video/webm">
  This browser does not support video
</video>

<div id="video_pattern" ></div>

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; max-width: 100vw; overflow-x: hidden;">
  <div class="align-items-center justify-content-center mx-auto">
    <div class="container">
      {% if year %}
        <a class='' href='#'>
          <img id='' class='img-fluid' src='{{ year.banner_image.url }}' alt='Nakkefestival {{ year }} banner' style='display: block; margin-left: auto; margin-right: auto;'>
        </a>
      {% endif %}
      <br/>
      <div class="row">
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg p-1">
            <a href="https://www.place2book.com/da/sw2/sales/6ozz11buoq" class="fill-div" target="_blank">
              <p class="text-center bello h3 mt-2">
                Køb<br/> Billet
              </p>
            </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg p-1">
            <a href="{% url 'year:program' year=current_year %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Musik<br/> Program
              </p>
            </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg p-1">
            <a href="{% url 'year:events' year=current_year %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Krea<br/> Program
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg p-1">
            <a href="{% url 'year:fællesbus_til_nakke' %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Fælles<br/> Bus
              </p>
            </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg p-1">
            <a href="{% url 'year:bliv_frivillig' %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Bliv<br/> Frivillig
              </p>
            </a>
          </div>
        </div>
        <div class="col pt-1">
          <div class="border border-white border-2 rounded-3 fill-color-bg p-1">
            <a href="{% url 'year:praktisk_information' %}" class="fill-div">
              <p class="text-center bello h3 mt-2">
                Praktisk<br/> Information
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-image" style="background-image: url('{{ bg.url }}'); overflow-x:hidden; min-height: 100vh; min-width:100%; background-size: cover; background-repeat: no-repeat; display:flex; flex-direction:column">
  <div class="d-flex align-items-flex-start justify-content-center mt-xxl-5 pt-xx-5">
    <div class="align-items-flex-start justify-content-center mx-auto mt-xxl-5 pt-xx-5" style="max-width: 720px;">
      <div class="container mt-xxl-5 pt-xx-5">
        {% if short_description %}
          <div class="row mb-3 d-flex justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-8">
              <h5 class="text-center">{{ short_description | filter }}</h5>
            </div>
          </div>
        {% endif %}
        {% if long_description %}
          <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-8 p-2 rounded-3" style="background:rgb(200,235,253,0.5)">
              {{ long_description | filter }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
