<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"bootstrap5/css/bootstrap.min.css" }}">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"fonts/fontawesome/css/all.min.css" }}">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"css/main.css" }}">
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <link rel="shortcut icon" href="{{ STATIC_DEV|add:"favicon.ico" }}">

      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js"></script>
      <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
      <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

      <style>
      .clickable-row {
          cursor: pointer;
      }
      .table-hover tr:hover {
          background-color: rgba(0, 190, 255, 0.3); /* Adjust the color and opacity as needed */
      }
      label.required::after {
        content: ' *';
        color: red;
      }
       .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
          border-width: 5px;
          border-color: #FBCC38;
          border-bottom-color: transparent;
      }
      .nav-tabs {
          background-color: transparent !important; /* Makes the entire tab bar background transparent */
          border-color: #FBCC38;
      }

      /* Custom styles for transparent nav-tabs */
      .nav-tabs .nav-link {
          background-color: transparent; /* Sets the nav-link background to transparent */
          color: #007bff; /* Sets the text color */
      }
      .nav-tabs .nav-link.active {
          background-color: transparent; /* Ensures active tab is also transparent */
          border-color: #FBCC38;
          border-width: 2px;
          color: #0056b3; /* Sets a different color for active tab */
      }
      .nav-item {
          margin-bottom: 0; /* Removes extra spacing */
      }
      .hr-text-wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px 0;
      }
      .hr-line {
        flex-grow: 1;
        height: 1px;
        background-color: #818078;
        opacity: 0.5;
      }
      .hr-text {
        padding: 0 10px;
        color: #818078;
      }
      .django-ckeditor-widget {
          width: 100% !important;
      }
      .bg-yellow {
        background-color: #FDC533;
      }
      .bg-brown {
        background-color: #56351E;
      }
      .bg-grey {
        background-color: #FFF5DA;
      }
      .bg-creme {
        background-color: #FEE7A8;
      }
      .font-black {
        color: #1e1e1e;
      }
      p {
        font-family: Arial;
      }
      .nav-item a {
        font-family: Arial;
        font-weight: bold;
      }
      a {
        font-family: Arial;
      }
      .sm-truncate {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 1px; /* Ensures it follows Bootstrap column width */
      }
      </style>


      {% if title %}
        <title>Nakkefestival - {{ title }}</title>
      {% else %}
        <title>Nakkefestival</title>
      {% endif %}

  </head>
  <body style="min-height:100vh; display:flex; flex-direction:column">
    {% if request.path|slice:"0:4" == "/hzd" and perms.year.view_hzd %}
    <!-- HZD NAVBAR -->
      <nav class="navbar navbar-expand-sm navbar-light bg-yellow py-0 pt-2 pb-2 fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand bello" href="{% url 'hzd:index' %}">HZD</a>
          <a class="navbar-brand" href="https://www.instagram.com/nakkefestival/"><i class="fa-brands fa-instagram"></i></a>
          <a class="navbar-brand" href="https://www.facebook.com/OfficielNakkefestival/"><i class="fa-brands fa-facebook"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentHzd" aria-controls="navbarSupportedContentHzd" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContentHzd">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if perms.year.view_program or perms.year.view_event or perms.year.view_artistapplication or perms.year.view_artist %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="programDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Program
                </a>
                <ul class="dropdown-menu" aria-labelledby="programDropdown">
                  {% if perms.year.view_program %}
                  <li>
                    <a class="dropdown-item" href="{% url 'hzd:programs' year=current_year %}">Program</a>
                  </li>
                  {% endif %}
                  {% if perms.year.view_event %}
                  <li>
                      <a class="dropdown-item" href="{% url 'hzd:events' %}">Events</a>
                  </li>
                  {% endif %}
                  {% if perms.year.view_artistapplication %}
                  <li>
                      <a class="dropdown-item" href="{% url 'hzd:bookings' year=current_year %}">Bookings</a>
                  </li>
                  {% endif %}
                  {% if perms.year.view_artist %}
                  <li>
                      <a class="dropdown-item" href="{% url 'hzd:artists' %}">Kunstnere</a>
                  </li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}
              {% if perms.year.view_volunteerarea or perms.year.view_volunteerapplication %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="volunteerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Frivillige
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="volunteerDropdown">
                    {% if perms.year.view_volunteerarea %}
                      <li>
                          <a class="dropdown-item" href="{% url 'hzd:areas' year=current_year %}">Områder</a>
                      </li>
                    {% endif %}
                    {% if perms.year.view_volunteerapplication %}
                      <li>
                          <a class="dropdown-item" href="{% url 'hzd:volunteers' year=current_year %}">Frivillige</a>
                      </li>
                    {% endif %}
                    {% if perms.year.view_volunteershift %}
                      <li>
                        {% if default_area %}
                          <a class="dropdown-item" href="{% url 'hzd:shifts' area=default_area %}">Vagtplaner</a>
                        {% else %}
                          <a class="dropdown-item" href="{% url 'hzd:shifts' area=20 %}">Vagtplaner</a>
                        {% endif %}
                      </li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              {% if perms.year.view_donation or perms.year.view_page or perms.year.view_year %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Organisation
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="volunteerDropdown">
                    {% if perms.year.view_donation %}
                      <li>
                          <a class="dropdown-item" href="{% url 'hzd:donations' %}">Donationer</a>
                      </li>
                    {% endif %}
                    {% if perms.year.view_page %}
                      <li>
                          <a class="dropdown-item" href="{% url 'hzd:pages' %}">Sider</a>
                      </li>
                    {% endif %}
                    {% if perms.accounts.view_mail %}
                      <li>
                          <a class="dropdown-item" href="{% url 'hzd:mails' %}">Mails</a>
                      </li>
                    {% endif %}
                    {% if perms.year.view_year %}
                      <li>
                          <a class="dropdown-item" href="{% url 'hzd:years' %}">År</a>
                      </li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              <li class="nav-item" style="margin-right:2rem;">
                  <a class="nav-link  h4 mb-0" href="{% url 'year:index' %}"><i class="bi bi-house"></i></a>
              </li>
              <li class="nav-item dropdown" style="margin-right:2rem;">
                <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  <i class="fa-solid fa-circle-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profil</a></li>
                    {% if perms.year.view_hzd %}
                      <li><a class="dropdown-item" href="{% url 'hzd:index' %}">Hzd</a></li>
                    {% endif %}
                  <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log af</a></li>
                  {% else %}
                    <li><a class="dropdown-item" href="{% url 'accounts:login' %}?role=guest">Log ind</a></li>
                     <li><a class="dropdown-item" href="{% url 'accounts:signup' %}?role=guest">Opret profil</a></li>               <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">Opret profil</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% else %}

    <!-- HOMEPAGE NAVBAR -->
      <nav class="navbar navbar-expand-sm navbar-light bg-yellow py-0 pt-2 pb-2 fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand bello" href="{% url 'year:index' %}">Nakkefestival</a>
          <a class="navbar-brand" href="https://www.instagram.com/nakkefestival/"><i class="fa-brands fa-instagram"></i></a>
          <a class="navbar-brand" href="https://www.facebook.com/OfficielNakkefestival/"><i class="fa-brands fa-facebook"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="musikDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Musik & Events
                </a>
                <ul class="dropdown-menu" aria-labelledby="musikDropdown">
                  <li><a class="dropdown-item" href="{% url 'year:kunstnere' year=current_year %}">Kunstnere {{ cur_year.year }}</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:program' year=current_year %}">Program {{ cur_year.year }}</a></li>
                  <!-- <li><a class="dropdown-item" href=" url 'year:program' year=current_year >Program </a></li> -->
                  <li><a class="dropdown-item" href="{% url 'year:events' year=current_year %}">Events {{ cur_year.year }}</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Information
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'year:praktisk_information' %}">Praktisk Information</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:bliv_frivillig' %}">Bliv Frivillig</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:bliv_kunstner' %}">Bliv Kunstner</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:fællesbus_til_nakke' %}">Fællesbus til Nakke</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Om Nakkefestival
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'year:om_nakkefestival' %}">Om Nakkefestival</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:historien' %}">Historien</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:find_vej' %}">Find vej</a></li>
                  <!-- <li><a class="dropdown-item" href="{% url 'year:billeder' %}">Billeder</a></li> -->
                  <li><a class="dropdown-item" href="{% url 'year:donationer' %}">Donationer</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:vedtagter' %}">Vedtægter</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:presse' %}">Presse</a></li>
                  <li><a class="dropdown-item" href="{% url 'year:kontakt' %}">Kontakt</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown" style="margin-right:2rem;">
                <a class="nav-link dropdown-toggle h4 mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  <i class="fa-solid fa-circle-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profil</a></li>
                    {% if perms.year.view_hzd %}
                      <li><a class="dropdown-item" href="{% url 'hzd:index' %}">Hzd</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log af</a></li>
                  {% else %}
                    <li><a class="dropdown-item" href="{% url 'accounts:login' %}?role=guest">Log ind</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:signup' %}?role=guest">Opret profil</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% endif %}

    {% block content %}{% endblock %}

      <div class="row bg-yellow pt-4 d-flex align-items-end">
        <div class="col-md-3 col-sm-6 mb-5 order-lg-1 order-md-1">
          <ul class="mb-3" style="list-style-type: none;">
            <li class="mb-3">
              <a style="color:black; text-decoration-line:none;" href="{% url 'year:privacy' %}">
                <b>Privatlivspolitik <i class="fa-solid fa-caret-right"></i></b>
              </a>
            </li>
            <li class="mb-3">
              <a style="color:black; text-decoration-line:none;" href="{% url 'year:bliv_kunstner' %}">
                <b>Vil du være musiker? <i class="fa-solid fa-caret-right"></i></b>
              </a>
            </li>
            <li class="mb-3">
              <a style="color:black; text-decoration-line:none;" href="{% url 'year:bliv_frivillig' %}">
                <b>Vil du være frivillig? <i class="fa-solid fa-caret-right"></i></b>
              </a>
            </li>
            <li>
              <p>
                Søndervangsvej 43,<br>
                4581 Rørvig
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 order-lg-0 order-md-0">
          <div class="h-100 d-flex align-items-end" style="background-image: url('https://nakkefestival.dk/media/logomark.png'); background-repeat: no-repeat; background-size: auto 120%; background-position: top right; min-height:25rem">
            <ul class="text-end w-100" style="list-style-type: none;">
              <li class="mb-3">
                <a style="color:black; text-decoration-line:none;" href="mailto:info@nakkefestival.dk">
                  <i class="fa-solid fa-envelope h2 text-dark"></i>
                </a>
              </li>
              <li class="mb-3">
                <a href="https://www.facebook.com/OfficielNakkefestival/">
                  <i class="fa-brands fa-facebook h2 text-dark"></i>
                </a>
              </li>
              <li class="mb-3">
                <a href="https://www.instagram.com/nakkefestival/">
                  <i class="fa-brands fa-instagram h2 text-dark"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5 order-lg-2 order-md-2 d-none d-sm-none d-md-block mb-4" style="padding-right:5rem;">
          <div class="h-100 mb-5">
            <b>Kort om Nakkefestival</b>
            <p>Festivalen er opbygget af frivillige, som elsker alternativ kultur og musik. Kunst hyldes i alle former på Nakke, og festivalen er fyldt til bristepunktet med gøgl, musik og malerier, som alle gæster og frivillige er med til at skabe.</p>
            <p>Hvert år giver Nakkefestival sit overskud til lokale og internationale projekter, som arbejder for en bedre verden med mere diversitet, uddannelse, fred og kærlighed.</p>
          </div>
        </div>
      </div>
      <!-- JavaScript -->
      <script src="{{ STATIC_DEV|add:"bootstrap5/js/bootstrap.bundle.min.js" }}"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const rows = document.querySelectorAll("tr[data-href]");
          rows.forEach(row => {
            row.addEventListener("click", function() {
              window.location.href = this.getAttribute("data-href");
            });
          });
        });
      </script>
    </body>
</html>
