
{% extends "year/layout.html" %}
{% block content %}
{% load static %}
{% load html_extras %}
<div class="full-bg-img" style="background: url('{{ bg.url }}') no-repeat center center fixed;"></div>

<div class="container mb-5" style="padding-bottom:15rem;">
	<div class="row mt-5 pt-5">
		<div class="mx-auto">
			<h1 class="display-5 bello text-center mb-0">{{ title }}</h1>
      <p class="text-center mt-0 fw-bold" style="color:white;">______</p>
		</div>
	</div>
  {% if short_description %}
    <div class="row mb-3 d-flex justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-8">
        <h5 class="text-center">{{ short_description | filter }}</h5>
      </div>
    </div>
  {% endif %}
  {% if long_description %}
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-8 p-2 rounded-3" style="background:rgb(200,235,253,0.5)">
        {{ long_description | filter }}
      </div>
    </div>
  {% endif %}
	<div class="row d-flex justify-content-center">
		<div class="col-sm-12 col-md-12 col-lg-10">
      {% block page_content %}
      {% endblock %}
		</div>
	</div>
</div>
{% endblock content %}
