{% extends "year/page.html" %}
{% block page_content %}
{% load currency %}

{{ bokeh_donations_script|safe }}

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:donation_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret Donation</i></a>
</div>

{% if donations %}
  <div class="row">
    {{ bokeh_donations|safe }}
  </div>
  <div class="table-container mt-3">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th><a class="btn btn-primary" href="?sort=year">År</a></th>
        <th><a class="btn btn-primary" href="?sort=receiver"><b>Modtager</b></a></th>
        <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=phone">Telefon</a></th>
        <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=mail">Email</a></th>
        <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=amount">Beløb</a></th>
        <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=published">Udgivet</a></th>
        <th></th>
      </thead>
      <tbody>
      {% for donation in donations %}
          <tr class="clickable-row" data-href="{% url 'hzd:donation' pk=donation.pk %}?next={{ request.path }}">
            <td>{{ donation.year }}</td>
            <td><b>{{ donation.receiver }}</b></td>
            <td class="d-none d-sm-table-cell">{{ donation.phone }}</td>
            <td class="d-none d-sm-table-cell">{{ donation.mail }}</td>
            <td class="d-none d-sm-table-cell">{{ donation.amount|danish_currency }}</td>
            <td class="d-none d-sm-table-cell">{{ donation.published }}</td>
            <td>
            <a href="{% url 'hzd:donation' pk=donation.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p> Der er ingen donationer at vise <p>
{% endif %}
{% endblock page_content %}
