{% extends "year/page.html" %}
{% block page_content %}
{{ bokeh_script|safe }}
{{ bokeh_script2|safe }}
<div class="row">
  <div class="col-sm">
    {{ bokeh_div|safe }}
  </div>
  <div class="col-sm">
    {{ bokeh_div2|safe }}
  </div>
</div>
<div class="row">
  {% if perms.year.view_page %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="{% url 'hzd:pages' %}" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Sider
          </p>
        </a>
      </div>
    </div>
  {% endif %}
  {% if perms.year.view_artistapplication %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="{% url 'hzd:bookings' year=current_year %}" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Bookings
          </p>
        </a>
      </div>
    </div>
  {% endif %}
  {% if perms.year.view_volunteerapplication %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="{% url 'hzd:volunteers' year=current_year %}" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Frivillige
          </p>
        </a>
      </div>
    </div>
  {% endif %}
  {% if perms.year.access_wiki %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="https://cloud.nakkefestival.dk/apps/collectives/" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Wiki
          </p>
        </a>
      </div>
    </div>
  {% endif %}
  {% if perms.year.access_cloud %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="https://cloud.nakkefestival.dk" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Cloud
          </p>
        </a>
      </div>
    </div>
  {% endif %}
  {% if perms.year.view_ticket %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="https://place2book.com/da/dashboard" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Billetter
          </p>
        </a>
      </div>
    </div>
  {% endif %}
  {% if perms.year.access_chat %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="https://cloud.nakkefestival.dk/apps/spreed/" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Chat
          </p>
        </a>
      </div>
    </div>
  {% endif %}
  {% if perms.year.access_mail %}
    <div class="col-3 mt-1 pt-1">
      <div class="border border-white border-2 rounded-3 fill-color-bg">
        <a href="#" class="fill-div">
          <p class="text-center bello h3 mt-2">
            Mail
          </p>
        </a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock page_content %}
