<!DOCTYPE html>
{% load year_tags %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"bootstrap5/css/bootstrap.min.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"fonts/fontawesome/css/all.min.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DEV|add:"css/main.css" }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="{{ STATIC_DEV|add:"favicon.ico" }}">

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <style>
    .clickable-row {
        cursor: pointer;
    }
    .table-hover tr:hover {
        background-color: rgba(0, 190, 255, 0.3); /* Adjust the color and opacity as needed */
    }
    </style>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
      const rows = document.querySelectorAll("tr[data-href]");
      rows.forEach(row => {
        row.addEventListener("click", function() {
          window.location.href = this.getAttribute("data-href");
        });
      });
    });
    </script>

    {% if title %}
      <title>Nakkefestival - {{ title }}</title>
    {% else %}
      <title>Nakkefestival</title>
    {% endif %}

</head>
<body style="min-height:100vh; display:flex; flex-direction:column">
  <nav class="navbar navbar-expand-sm navbar-light bg-light py-0 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand bello" href="{% url 'hzd:index' %}">HZD</a>
      <a class="navbar-brand" href="https://www.instagram.com/nakkefestival/"><i class="fa-brands fa-instagram"></i></a>
      <a class="navbar-brand" href="https://www.facebook.com/OfficielNakkefestival/"><i class="fa-brands fa-facebook"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if perms.year.view_program or perms.year.view_event or perms.year.view_artistapplication or perms.year.view_artist %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="programDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Program
            </a>
            <ul class="dropdown-menu" aria-labelledby="programDropdown">
              {% if perms.year.view_program %}
              <li>
                <a class="dropdown-item bello" href="{% url 'hzd:programs' year=current_year %}">Program</a>
              </li>
              {% endif %}
              {% if perms.year.view_event %}
              <li>
                  <a class="dropdown-item bello" href="{% url 'hzd:events' %}">Events</a>
              </li>
              {% endif %}
              {% if perms.year.view_artistapplication %}
              <li>
                  <a class="dropdown-item bello" href="{% url 'hzd:bookings' year=current_year %}">Bookings</a>
              </li>
              {% endif %}
              {% if perms.year.view_artist %}
              <li>
                  <a class="dropdown-item bello" href="{% url 'hzd:artists' %}">Kunstnere</a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
          {% if perms.year.view_volunteerarea or perms.year.view_volunteerapplication %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="volunteerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Frivillige
              </a>
              <ul class="dropdown-menu" aria-labelledby="volunteerDropdown">
                {% if perms.year.view_volunteerarea %}
                  <li>
                      <a class="dropdown-item bello" href="{% url 'hzd:areas' year=current_year %}">Områder</a>
                  </li>
                {% endif %}
                {% if perms.year.view_volunteerapplication %}
                  <li>
                      <a class="dropdown-item bello" href="{% url 'hzd:volunteers' year=current_year %}">Frivillige</a>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% endif %}
          {% if perms.year.view_donation or perms.year.view_page or perms.year.view_year %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Organisation
              </a>
              <ul class="dropdown-menu" aria-labelledby="volunteerDropdown">
                {% if perms.year.view_donation %}
                  <li>
                      <a class="dropdown-item bello" href="{% url 'hzd:donations' %}">Donationer</a>
                  </li>
                {% endif %}
                {% if perms.year.view_page %}
                  <li>
                      <a class="dropdown-item bello" href="{% url 'hzd:pages' %}">Sider</a>
                  </li>
                {% endif %}
                {% if perms.year.view_year %}
                  <li>
                      <a class="dropdown-item bello" href="{% url 'hzd:years' %}">År</a>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% endif %}
          <li class="nav-item" style="margin-right:2rem;">
              <a class="nav-link  h4 bello mb-0" href="{% url 'year:index' %}"><i class="bi bi-house"></i></a>
          </li>
          <li class="nav-item dropdown" style="margin-right:2rem;">
            <a class="nav-link dropdown-toggle h4 bello mb-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i class="fa-solid fa-circle-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profil</a></li>
                {% if perms.year.view_hzd %}
                  <li><a class="dropdown-item" href="{% url 'hzd:index' %}">Hzd</a></li>
                {% endif %}
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log af</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'accounts:login' %}?role=guest">Log ind</a></li>
                 <li><a class="dropdown-item" href="{% url 'accounts:signup' %}?role=guest">Opret profil</a></li>               <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">Opret profil</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% block content %}{% endblock %}
    <!-- JavaScript -->
    <!-- <script src="{{ STATIC_DEV|add:"bootstrap5/js/bootstrap.bundle.min.js" }}"></script> -->
</body>
</html>
