{% extends "year/page.html" %}

{% block page_content %}

<div style="background-image: url('{{ bg.image_url }}');">
    <!-- Accordion for Email Preview -->
    <div class="accordion" id="emailPreviewAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="previewHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#previewCollapse" aria-expanded="true" 
                        aria-controls="previewCollapse">
                    Mail Preview
                </button>
            </h2>
            <div id="previewCollapse" class="accordion-collapse collapse show" 
                 aria-labelledby="previewHeader" data-bs-parent="#emailPreviewAccordion">
                <div class="accordion-body">
                    <!-- Reusing the mail.html template -->
                    {% include "accounts/mail.html" with user=preview_data.user short_description=preview_data.short_description long_description=preview_data.long_description message=preview_data.message link_url=preview_data.link_url button_label=preview_data.button_label current_year=preview_data.current_year %}
                </div>
            </div>
        </div>
    </div>
    <!-- Include the reusable form template -->
    {% include 'form_snippet.html' with form=form method='post' action='' button_label='Opdater' %}
</div>

<!-- JavaScript for Dynamic Preview -->
<script>
document.addEventListener("DOMContentLoaded", function () {
    const templateField = document.getElementById("id_template");  // Template dropdown
    const shortDescription = document.getElementById("preview-short-description");
    const longDescription = document.getElementById("preview-long-description");

    // Function to update preview dynamically
    templateField.addEventListener("change", function () {
        const templateId = templateField.value;

        if (templateId) {
            // Construct new URL with updated template_id query parameter
            const url = new URL(window.location.href);
            url.searchParams.set("template_id", templateId);

            // Reload the page with the updated query parameter
            window.location.href = url.toString();
        }
    });
});
</script>
{% endblock page_content %}
