{% extends "year/page.html" %}
{% block page_content %}

<div class="row d-flex justify-content-center">
  <div class="col-5 text-center">
    <a class="btn btn-primary mx-auto" href="{% url 'hzd:events' %}">Events</a>
    <a class="btn btn-primary mx-auto" href="{% url 'hzd:artists' %}">Kunstnere</a>
    <a class="btn btn-primary mx-auto" href="{% url 'hzd:bookings' year=current_year %}">Bookings</a>
  </div>
</div>

<div class="row mb-3">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
        <li class="dropdowm-item ">
          <a class="dropdown-item d-block" href="{% url 'hzd:programs' year=year_obj.year %}">{{ year_obj.year }}</a> 
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:program_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret Begivenhed</i></a>
</div>

{% if program %}
<div class="table-container mt-3">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="d-none d-sm-table-cell"> 
            <a class="btn btn-primary" href="?sort=year&order=
              {% if current_sort == 'year' and next_order == 'asc' %}
                asc
              {% else %}
                desc
              {% endif %}">
                År
            </a>
        </th>
        <th>
            <a class="btn btn-primary" href="?sort=artist_id&order={% if current_sort == 'artist_id' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
              <b>Artist</b>
            </a>
        </th>
        <th>
            <a class="btn btn-primary" href="?sort=event_id&order={% if current_sort == 'event_id' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
              <b>Event</b>
            </a>
        </th>
        <th class="d-none d-sm-table-cell">
            <a class="btn btn-primary" href="?sort=start_time&order={% if current_sort == 'start_time' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                Starttid
            </a>
        </th>
        <th class="d-none d-sm-table-cell">
            <a class="btn btn-primary" href="?sort=end_time&order={% if current_sort == 'end_time' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                Sluttid
            </a>
        </th>
        <th class="d-none d-sm-table-cell">
            <a class="btn btn-primary" href="?sort=stage&order={% if current_sort == 'stage' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                Scene
            </a>
        </th>
        <th class="d-none d-sm-table-cell">
            <a class="btn btn-primary" href="?sort=published&order={% if current_sort == 'published' and next_order == 'asc' %}asc{% else %}desc{% endif %}">
                Udgivet
            </a>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for p in program %}
        <tr class="clickable-row"  data-href="{% url 'hzd:program' pk=p.pk %}?next={{ request.path }}">
          <td class="d-none d-sm-table-cell">{{ p.year }}</td>
          <td>
            {% if p.artist %}
              <a href="{% url 'hzd:artist' pk=p.artist.pk %}?next={{ request.path }}" class="link-success">
                <b>{{ p.artist }}</b>
              </a>
            {% endif %}
          </td>
          <td>
            {% if p.event %}
              <a href="{% url 'hzd:event' pk=p.event.pk %}?next={{ request.path }}" class="link-success">
                <b>{{ p.event }}</b>
              </a>
            {% endif %}
          </td>
          <td class="d-none d-sm-table-cell">{{ p.start_time }}</td>
          <td class="d-none d-sm-table-cell">{{ p.end_time }}</td>
          <td class="d-none d-sm-table-cell">{{ p.stage }}</td>
          <td class="d-none d-sm-table-cell">{{ p.published }}</td>
          <td>
            <a href="{% url 'hzd:program' pk=p.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p>There are no pages to be displayed.</p>
{% endif %}
{% endblock page_content %}
