{% extends "year/page.html" %}
{% block page_content %}

<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:year_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret År</i></a>
</div>

{% if years %}
<div class="table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=year&order={% if current_sort == 'year' and next_order == 'asc' %}asc{% else %}desc{% endif %}"><b>År</b></a></th>
      <th><a class="btn btn-primary" href="?sort=published&order={% if current_sort == 'published' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Udgivet</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=start_time&order={% if current_sort == 'start_time' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Festivalstart</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=end_time&order={% if current_sort == 'end_time' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Festivalslut</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=banner_image&order={% if current_sort == 'banner_image' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Banner</a></th>
      <th></th>
    </thead>
    <tbody>
    {% for year in years %}
      <tr class="clickable-row" data-href="{% url 'hzd:year' pk=year.pk %}?next={{ request.path }}">
        <td><b>{{ year.year }}</b></td>
        <td>{{ year.published }}</td>
        <td class="d-none d-sm-table-cell">{{ year.start_time }}</td>
        <td class="d-none d-sm-table-cell">{{ year.end_time }}</td>
        <td class="d-none d-sm-table-cell">
          {% if year.banner_image %}
            <a class='' href='{{ STATIC_DEV|add:year.banner_image.url }}'>
              <img id='' class='img-fluid' src='{{ STATIC_DEV|add:year.banner_image.url }}' alt='' style='display: block; max-height:10vh;'>
            </a>
          {% endif %}
        <td>
          <a href="{% url 'hzd:year' pk=year.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
