{% extends "year/page.html" %}
{% block page_content %}
    <h1>403 - Adgang nægtet</h1>
    <p>Du har ikke adgang til denne side.</p>
    <a href="{% url 'year:index' %}">Gå tilbage til hovedsiden</a>
{% endblock page_content %}
