{% if form %}
  
  <!-- Form -->
  <form method="{{ method }}" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Display non-field errors (for errors added via form.add_error(None, ...)) -->
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% elif field.name == 'artist_user_comment' %}
        <div class="hr-text-wrapper">
          <span class="hr-line"></span>
          <span class="hr-text">Ansøgning</span>
          <span class="hr-line"></span>
        </div>
        <div class="mb-3">
          <b>{{ field.label_tag }}</b></br> 
          {% if field.help_text %}
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ field.help_text|safe }}">
              ? 
            </button>
          {% endif %}
          {{ field }}
          {% if field.errors %}
            <div class="bg-danger rounded mt-1 p-1 text-white">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="mb-3">
          <b>{{ field.label_tag }}</b></br> 
          {% if field.help_text %}
            <a data-bs-toggle="tooltip" data-bs-placement="right" title="{{ field.help_text|safe }}">
              <i class="fa-solid fa-circle-question"></i>
            </a>
          {% endif %}
          {{ field }}
          {% if field.errors %}
            <div class="bg-danger rounded mt-1 p-1 text-white">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    <button class="btn btn-primary" type="submit">{{ submit_button }}</button>
    {% if button_label_delete %}
      <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal">
        {{ button_label_delete }}
      </a>
    {% endif %}
  </form>

{% else %}
  <p>Der er ingen formular at vise. Kontakt venligst Nakkefestivals IT-arrangører.</p>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      const startTimeField = document.querySelector('input[name="start_time"]');
      const endTimeField = document.querySelector('input[name="end_time"]');

      startTimeField.addEventListener('change', () => {
          const startTime = new Date(startTimeField.value);
          if (!isNaN(startTime.getTime())) {
              const endTime = new Date(startTime.getTime() + 60 * 60 * 1000); // Add 1 hour

              // Format as "YYYY-MM-DDTHH:MM"
              const formattedEndTime = endTime.toISOString().slice(0, 16); // "YYYY-MM-DDTHH:MM" format
              endTimeField.value = formattedEndTime;
          }
      });
  });
</script>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    let isFormDirty = false;
    const form = document.querySelector('form');
    const inputs = form.querySelectorAll('input, textarea, select');

    // Mark form as dirty when any input changes
    inputs.forEach(input => {
      input.addEventListener('change', () => {
        isFormDirty = true;
      });
      input.addEventListener('input', () => {
        isFormDirty = true;
      });
    });

    // Handle the beforeunload event
    window.addEventListener('beforeunload', (event) => {
      if (isFormDirty) {
        event.preventDefault();
        event.returnValue = ''; // Required for some browsers to show the warning
      }
    });

    // Reset the dirty flag on form submission
    form.addEventListener('submit', () => {
      isFormDirty = false;
    });
  });
</script>
