{% extends "year/page.html" %}
{% block page_content %}

<div class="row mb-3">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
        <li class="dropdowm-item ">
          <a class="dropdown-item d-block" href="{% url 'hzd:bookings' year=year_obj.year %}">{{ year_obj.year }}</a> 
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:booking_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret Booking</i></a>
</div>

{% if artist_applications %}
<div class="table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=artist"><b>Kunstner</b></a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=techrider">Techrider</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=year">Year</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=time">Tidspunkt</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=user_comment">Kommentar</a></th>
      <th><a class="btn btn-primary" href="?sort=status">Status</a></th>
      <th></th>
    </thead>
      <tbody>
      {% for application in artist_applications %}
        <tr class="clickable-row" data-href="{% url 'hzd:booking' pk=application.pk %}?next={{ request.path }}"> 
          <td>
            <a href="{% url 'hzd:artist' pk=application.artist.pk %}" class="link-success">
              <b>{{ application.artist }}</b>
            </a>
          </td>
          <td class="d-none d-sm-table-cell">{{ application.techrider }}</td>
          <td class="d-none d-sm-table-cell">{{ application.year }}</td>
          <td class="d-none d-sm-table-cell">{{ application.time }}</td>
          <td class="d-none d-sm-table-cell">{{ application.user_comment }}</td>
          <td>{{ application.status }}</td>
          <td>
            <a href="{% url 'hzd:booking' pk=application.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
