{% extends "year/page.html" %}
{% block page_content %}

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:event_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret Event</i></a>
</div>

{% if events %}
<div class="table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th>
        <a class="btn btn-primary" href="?sort=name&order=
                  {% if current_sort == 'name' and next_order == 'asc' %}
                    asc
                  {% else %}
                    desc
                  {% endif %}">
          <b>Navn</b>
        </a>
      </th>
      <th class="d-none d-sm-table-cell">
        <a class="btn btn-primary" href="?sort=short_description&order=
                  {% if current_sort == 'short_description' and next_order == 'asc' %}
                    asc
                  {% else %}
                    desc
                  {% endif %}">
          Manchet
        </a>
      </th>
      <th class="d-none d-sm-table-cell">
        <a class="btn btn-primary" href="?sort=long_description&order=
                  {% if current_sort == 'long_description' and next_order == 'asc' %}
                    asc
                  {% else %}
                    desc
                  {% endif %}">
          Beskrivelse
        </a>
      </th>
      <th class="d-none d-sm-table-cell">
        <a class="btn btn-primary" href="?sort=img&order=
                  {% if current_sort == 'img' and next_order == 'asc' %}
                    asc
                  {% else %}
                    desc
                  {% endif %}">
          Billede
        </a>
      </th>
      <th></th>
    </thead>
    <tbody>
      {% for event in events %}
        <tr class="clickable-row" data-href="{% url 'hzd:event' pk=event.pk %}?next={{ request.path }}">
          <td><b>{{ event.name }}</b></td>
          <td class="d-none d-sm-table-cell">{{ event.short_description }}</td>
          <td class="d-none d-sm-table-cell">{{ event.long_description }}</td>
          <td class="d-none d-sm-table-cell">{{ event.img }}</td>
          <td>
          <a href="{% url 'hzd:event' pk=event.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
