{% extends "year/page.html" %}
{% block page_content %}
<div class="container">
  <p>Vi har sendt en engangskode til: <a href=mailto:{{ user.email }}>{{ user.email }}</a></p>
  <p>Du kan logge ind på vores hjemmeside gennem engangskoder, som vi sender til din email-adresse.</p>
</div>
{% endblock %}
