
{% extends "year/page.html" %}

{% block page_content %}
  <h2>{{ title }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{{ submit_button }}</button>
  </form>
{% endblock %}
