{% extends "year/page.html" %}

{% block page_content %}
  <div class="container">
    <div class="tab-content" id="magic-link">
      <div class="tab-pane fade {% if request.GET.tab == 'magic-link' %}show active{% endif %}" id="magic-link">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form method="post" hx-post="/profil/sign-in" hx-target="#result">
              {% csrf_token %}
              <div class="form-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">@</span>
                  {{ email_form.email }}
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Send engangskode</button>
              <div id="result"></div>
            </form>
            <div class="mt-3">
              <p>Har du ikke allerede en bruger? <a href="{% url 'accounts:signup' %}?role={{ request.GET.role }}">Opret dig her</a></p>
            </div>
            <div class="hr-text-wrapper">
              <span class="hr-line"></span>
              <span class="hr-text">ELLER</span>
              <span class="hr-line"></span>
            </div>
            <div class="btn-group w-100">
              <span class="input-group-text btn-primary"><i class="fa-solid fa-link"></i></span>
              <a class="btn btn-primary" href="{% url 'accounts:login' %}">Log ind med kodeord</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" id="password">
      <div class="tab-pane fade {% if request.GET.tab != 'magic-link' %}show active{% endif %}" id="password">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form method="POST" action="?tab={{ request.GET.tab }}">
              {% csrf_token %}
              <div class="form-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">@</span>
                  {{ password_form.username }}
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                  {{ password_form.password }}
                </div>
              </div>
              <div class="mb-1">
                <button type="submit" class="btn btn-primary">Log Ind</button>
                <a href="{% url 'accounts:reset_request' %}?next={{ request.path }}">Glemt dit kodeord?</a>
              </div>
            </form>
            <div class="mt-3">
              <p>Har du ikke allerede en bruger? <a href="{% url 'accounts:signup' %}?role={{ request.GET.role }}">Opret dig her</a></p>
            </div>
            <div class="hr-text-wrapper">
              <span class="hr-line"></span>
              <span class="hr-text">ELLER</span>
              <span class="hr-line"></span>
            </div>
            <div class="btn-group w-100">
              <span class="input-group-text btn-primary"><i class="fa-solid fa-link"></i></span>
              <a class="btn btn-primary" href="{% url 'accounts:login' %}?tab=magic-link">Log ind med engangskode</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if email_form.errors and request.GET.tab == 'magic-link' %}
      <div class="alert alert-danger mt-3">
          <ul>
              {% for field, errors in email_form.errors.items %}
                  <li>{{ errors|striptags }}</li>
              {% endfor %}
          </ul>
      </div>
  {% elif password_form.errors and request.GET.tab != 'magic-link' %}
      <div class="alert alert-danger mt-3">
          <ul>
              {% for field, errors in password_form.errors.items %}
                  <li>{{ errors|striptags }}</li>
              {% endfor %}
          </ul>
      </div>
  {% endif %}
{% endblock %}
