<!-- templates/accounts/mail.html -->
<!DOCTYPE html>
{% load html_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #C8ebfd; margin: 0; padding: 0;">
    <div style="width: 100%; padding: 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); max-width: 600px; margin: 0 auto;">
        {% if short_description %}
          <div style="background-color: #C8ebfd; color: black; padding: 10px; text-align: center; border-top-left-radius: 8px; border-top-right-radius: 8px;">
              <h1>{{ short_description }}</h1>
          </div>
        {% endif %}
        <div style="padding: 20px;">
          <p>Kære {{ user.first_name }}</p>
          {% if long_description %}
            <div style="margin-top:20px;">
              {{ long_description | filter }}
            </div>
          {% endif %}
          {% if message %}
            <div style="margin-top:20px;">
              {{ message | filter }}
            </div>
          {% endif %}
          {% if link_url %}
            <div style="text-align:center;">
              <a type="button" href="{{ link_url }}" style="font-size:20px; background-color:#FBCC38; padding:10px; border-radius:8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); margin:20px;">
                {% if button_label %}
                  {{ button_label }}
                {% else %}
                  Klik her
                {% endif %}
              </a>
            </div>
          {% endif %}
          <!--<p>Med kærlig hilsen<br>Arrangørgruppen</p> -->
        </div>
        <div style="background-color: #f1f1f1; padding: 10px; text-align: center; font-size: 12px; color: #888888; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
          <a style="margin-right:4rem;" href="https://nakkefestival.dk/profil/">
            Din Profil
          </a>
          <a href="https://nakkefestival.dk/musik/program/{{ current_year }}">
            Programmet
          </a>
          <a style="margin-left:4rem;" href="https://nakkefestival.dk/om/find_vej">
            Find Vej
          </a>
          <div style="text-align:center;">
            <p>&copy; {{ current_year }} Nakkefestival</p>
          </div>
        </div>
    </div>
</body>
</html>
