{% extends "year/page.html" %}
{% block page_content %}

<div styl="background-image: url('{{ bg.image_url }}');">
    <!-- Include the reusable form template -->
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
  </form>
</div>

{% endblock page_content %}
