
{% extends "year/page.html" %}
{% block page_content %}

<div class="d-flex justify-content-center" style="background-image: url('{{ bg.image_url }}');">
  <form class="col-lg-8" method="post">
      {% csrf_token %}
      <div class="form-group">
        <p>Indtast din email-adresse, og så sender vi dig et magic-link, som du kan gendanne din adgangskode igennem.</p>
        <input class="form-control" type="email" name="email" required>
      </div>
      <button class="btn btn-primary mt-3" type="submit">Send link til gendannelse</button>
      <a href="{% url 'accounts:login' %}" class="btn btn-secondary mt-3">Gå tilbage til login</a>
      {% if error %}
          <p style="color: red;">{{ error }}</p>
      {% endif %}
      {% for message in messages %}
          <p style="color: green;">{{ message }}</p>
      {% endfor %}
  </form>
</div>

{% endblock %}
