{% extends "year/page.html" %}
{% block page_content %}

  {% if user.is_authenticated %}
    <div class="row d-flex justify-content-center">
      <!-- Profile Info -->
      <div class="col-sm-10 col-md-10 col-lg-10 row rounded" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="col-10 mt-3 mb-3">
          <h4 class="bello">{{ user.username }}</h4>
          <ul>
          <li>{{ user.phone }}</li>
          <li><a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
          {% if volunteer_application %}
            <li><a href="{% url 'hzd:volunteer' pk=volunteer_application.pk %}?next={{ request.path }}">{{ area_name }}</a></li>
          {% elif artist_application %}
            <li><a href="{% url 'hzd:booking' pk=artist_application.pk %}?next={{ request.path }}">{{ artist_name }}</a></li>
          {% else %}
            <li>Du er ikke tilmeldt Nakkefestival {{ current_year }}</li>
          {% endif %}
        </div>
        <div class="col-2">
          <div>
            <img src="{% if user.img %} {{ user.img.url }} {% endif %}" class="img-fluid rounded-circle text-end" alt="Profile Image" style="max-width:100px;">
          </div>
          <div class="mt-10 text-end">
            <a href="{% url 'accounts:profile_edit' %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile Actions -->
    <div class="row d-flex justify-content-center mt-5">
      <!-- Volunteer Application -->
      <div class="container rounded m-3 p-2" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="row">
          <div class="col">
            <h2 class="bello text-center">Tilmeldinger</h2>
          </div>
          <div class="col text-end">
            {% if any_open_areas %}
              {% if not has_current_year_volunteer_application %}
                <a class="btn btn-primary text-end" href="{% url 'hzd:volunteer_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret</i></a>
              {% endif %}
            {% else %}
              <a class="btn btn-primary text-end disabled" href="{% url 'hzd:volunteer_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret</i></a>
            {% endif %}
          </div>
        </div>
        <div class="container">
          {% for application in volunteer_applications %}
            <a class="btn w-100 mt-1 border border-1" href="#" data-bs-toggle="modal" data-bs-target="#modal{{ application.pk }}" style="background-color:{% if application.status_id == 1 %}#E0FFFF{% elif application.status_id == 2 %}#90EE90{% else  %}#F08080{% endif %}">
              <div class="row">
                <div class="col">
                  <h5>{{ application.area }}</h5>
                </div>
                <div class="col">
                  <p>{{ application.time }}</p>
                </div>
                <div class="col text-end">
                  <p>{{ application.status }}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <!-- Artist Application -->
<!--      <div class="container rounded m-3 p-2" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="row">
          <div class="col">  
            <h2 class="bello text-center">Kunstnerprofiler</h2>
          </div>
          <div class="col text-end">
            <a class="btn btn-primary" href="{% url 'hzd:artist_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret</i></a>
          </div>
        </div>
        {% for artist in artists %}
          <div class="container border-rounded border-1 mt-2 d-flex align-items-start" style="background-color:#E0FFFF">
            {% if artist.id %}
              <div class="col-3">
                <img src="{% if artist.img %}{{ artist.img.url }}{% endif %}" class="img-fluid" alt="Artist Image" style="max-width: 100px;">
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="col">
                    <a class="btn mt-1 border border-1" href="{% url 'hzd:artist' pk=artist.pk %}?next={{ request.path }}">
                      <h5>{{ artist }}</h5>
                    </a>
                  </div>
                  <div class="col text-end">
                    {% if not artist.has_current_year_application %}
                      <a class="btn btn-success" href="{% url 'hzd:booking_create' %}?next={{ request.path }}&artist_id={{ artist.id }}">
                        Ansøg
                      </a>
                    {% endif %}
                  </div>
                </div>
                {% if artist.artist_applications.all %}
                  <div class="row mt-2">
                    <ul class="list-group list-group-horizontal">
                      {% for application in artist.artist_applications.all %}
                        <li class="list-group-item w-100" style="background-color:#E0FFFF">
                          <a class="btn" href="{% url 'hzd:booking' pk=application.pk %}?next={{ request.path }}" style="background-color:
                            {% if application.status_id == 1 %}#E0FFFF{% elif application.status_id == 2 %}#90EE90{% else %}#F08080{% endif %}">
                            <p>{{ application.year }}</p>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            {% else %}
              <h5>{{ artist.name }}</h5>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
-->
    <!-- Profile Badges -->
    <div class="row mt-5">
      <div class="col rounded" style="background-color: rgba(255, 255, 255, 0.5);">
        <h2 class="bello">Badges</h2>
        <p>Du har endnu ikke optjent nogen badges</p>
      </div>
    </div>
    <!-- Volunteer Modal -->
    {% for application in volunteer_applications %}
      {% if application %}
        <div class="modal fade" style="max-height:100vh;" id="modal{{ application.pk }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="min-width:50vw;max-height:50%;">
            <div class="modal-content" style="background-size:cover; background-image:url('{% if application.area__bg %}{{ MEDIA_URL|add:application.area.bg.url }}{% else %}{{ STATIC_DEV|add:'img/bg/home.jpg' }}{% endif %}');">
                <div class="modal-header">
                  <h1 class="modal-title bello" id="exampleModalLabel">{{ application.area }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body overflow-auto h-75">
                  <dl class="row">
                    <dt class="col-sm-3">Mail</dt>
                    <dd class="col-sm-9">{{ application.area.mail }}</dd>
                    <dt class="col-sm-3">Status</dt>
                    <dd class="col-sm-9">{{ application.status }}</dd>
                    <dt class="col-sm-3">Starttid</dt>
                    <dd class="col-sm-9">{{ application.area.start_time }}</dd>
                    <dt class="col-sm-3">Kommentar</dt>
                    <dd class="col-sm-9">{{ application.user_comment }}</dd>
                  </dl>
                </div>
                <div class="modal-footer opacity-25">
                  <div class="col-md-3 mx-auto">
                    {% if perms.year.change_volunteerapplication %}
                      <a class="btn btn-primary" href="{% url 'hzd:volunteer' pk=application.id %}?next={{ request.path }}">Redigér</a> 
                    {% endif %}
                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Luk</a>
                    {% if perms.year.delete_volunteerapplication %}
                      <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteVolunteerModal">
                        Slet
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Modal -->
        <div class="modal fade" id="deleteVolunteerModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog" style="min-width:50vw;">
            <div class="modal-content" style="background-size:cover; background-image:url('{{ STATIC_DEV|add:"img/bg/home.jpg" }}');">
              <div class="modal-header">
                <h1 class="modal-title bello" id="exampleModalLabel">Slet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Er du sikker?</p>
              </div>
              <div class="modal-footer">
                <form method="post" action="{% url 'hzd:volunteer_delete' application.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Slet det</button>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">
                  <p>Fortryd</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock page_content %}
