{% extends "year/page.html" %}
{% block page_content %}

<div styl="background-image: url('{{ bg.image_url }}');">
    <!-- Include the reusable form template -->
    {% include 'form_snippet.html' with form=form method='post' action='' button_label='Opdater' %}
</div>

<!-- Delete Modal -->
{% if button_label_delete %}
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width:50vw;">
      <div class="modal-content" style="background-size:cover; background-image:url('{{ STATIC_DEV|add:"img/bg/home.jpg" }}');">
        <div class="modal-header">
          <h1 class="modal-title bello" id="exampleModalLabel">Slet</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Er du sikker?</p>
        </div>
        <div class="modal-footer">
          <form method="post" action="{% url 'accounts:profile_delete' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Slet det</button>
          </form>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">
            <p>Fortryd</p>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock page_content %}
