{% extends "year/page.html" %}

{% block page_content %}

<div class="container">
    <div class="tab-content" id="guest">
      <div class="tab-pane fade {% if request.GET.role != 'volunteer' and request.GET.role != 'artist' %}show active{% endif %}" id="guest">
        <form method="POST" hx-post="/profil/sign-in" hx-target="#result">
          {% csrf_token %}
          <input type="hidden" name="role" value="guest">
          <div class="form-group mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.username.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.email.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.password.label_tag }}
            {% if form.password.help_text %}
              <p class="text-secondary">{{form.password.help_text}}</p>
            {% endif %}
            {{ form.password }}
            {% if form.password.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.password.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.repeat_password.label_tag }}
            {{ form.repeat_password }}
            {% if form.repeat_password.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.repeat_password.errors }}
              </div>
            {% endif %}
          </div>
          <hr />
          <div class="form-group row mb-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.firstname.label_tag }}
              {{ form.firstname }}
              {% if form.firstname.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.firstname.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.lastname.label_tag }}
              {{ form.lastname }}
              {% if form.lastname.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.lastname.errors }}
                </div>
              {% endif %}
            </div>
          </div>
          
          <div class="form-group row mb-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.street.label_tag }}
              {{ form.street }}
              {% if form.street.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.street.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              {{ form.number.label_tag }}
              {{ form.number }}
              {% if form.number.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.number.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              {{ form.post.label_tag }}
              {{ form.post }}
              {% if form.post.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.post.errors }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="form-group mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.phone.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.birthdate.label_tag }}
            {{ form.birthdate }}
            {% if form.birthdate.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.birthdate.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.approval }}
            <label>
              Jeg har læst og forstået <a target="_blank" href="{% url 'year:privacy' %}"><b>privatlivspolitiken</b></a>
            </label>
            {% if form.approval.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.approval.errors }}
              </div>
            {% endif %}
          </div>
          
          <button type="submit" class="btn btn-primary">Opret bruger</button>
          <a href="{% url 'accounts:login' %}?role={{ request.GET.role }}" class="btn btn-secondary">Allerede bruger?</a>
        </form>
      </div>

      <div class="tab-pane fade {% if request.GET.role == 'volunteer' %}show active{% endif %}" id="volunteer">
        <h1 class="text-center">Tilmeld dig som frivillig</h1>
        <form method="POST" hx-post="/profil/sign-in" hx-target="#result">
          {% csrf_token %}
          <input type="hidden" name="role" value="volunteer">
          
          <div class="form-group mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.username.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.email.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.password.label_tag }}
            {% if form.password.help_text %}
              <p class="text-secondary">{{form.password.help_text}}</p>
            {% endif %}
            {{ form.password }}
            {% if form.password.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.password.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.repeat_password.label_tag }}
            {{ form.repeat_password }}
            {% if form.password.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.password.errors }}
              </div>
            {% endif %}
          </div>
          <hr />
          <div class="form-group row mb-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.firstname.label_tag }}
              {{ form.firstname }}
              {% if form.firstname.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.firstname.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.lastname.label_tag }}
              {{ form.lastname }}
              {% if form.lastname.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.lastname.errors }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.street.label_tag }}
              {{ form.street }}
              {% if form.street.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.street.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              {{ form.number.label_tag }}
              {{ form.number }}
              {% if form.number.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.number.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              {{ form.post.label_tag }}
              {{ form.post }}
              {% if form.post.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.post.errors }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="form-group mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.phone.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.birthdate.label_tag }}
            {{ form.birthdate }}
            {% if form.birthdate.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.birthdate.errors }}
              </div>
            {% endif %}
          </div>

          <hr />
          <div class="form-group mb-3">
            {{ form.area.label_tag }}
            {{ form.area }}
            {% if form.area.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.area.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.user_comment.label_tag }}
            {{ form.user_comment }}
            {% if form.user_comment.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.user_comment.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.approval }}
            <label>
              Jeg har læst og forstået <a href="{% url 'year:privacy' %}"><b>privatlivspolitiken</b></a>
            </label>
            {% if form.approval.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.approval.errors }}
              </div>
            {% endif %}
          </div>

          <button type="submit" class="btn btn-primary">Opret bruger</button>
          <a href="{% url 'accounts:login' %}?role={{ request.GET.role }}" class="btn btn-secondary">Allerede bruger?</a>
        </form>
      </div>

      <div class="tab-pane fade {% if request.GET.role == 'artist' %}show active{% endif %}" id="artist">
        <h1 class="text-center">Ansøg om at spille</h1>
        <form method="POST" hx-post="/profil/sign-in" hx-target="#result">
          {% csrf_token %}
          <input type="hidden" name="role" value="artist">
          
          <div class="form-group mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.username.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.email.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.password.label_tag }}
            {% if form.password.help_text %}
              <p class="text-secondary">{{form.password.help_text}}</p>
            {% endif %}
            {{ form.password }}
            {% if form.password.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.password.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.repeat_password.label_tag }}
            {{ form.repeat_password }}
            {% if form.repeat_password.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.repeat_password.errors }}
              </div>
            {% endif %}
          </div>
          <hr />
          <div class="form-group row mb-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.firstname.label_tag }}
              {{ form.firstname }}
              {% if form.firstname.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.firstname.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.lastname.label_tag }}
              {{ form.lastname }}
              {% if form.lastname.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.lastname.errors }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              {{ form.street.label_tag }}
              {{ form.street }}
              {% if form.street.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.street.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              {{ form.number.label_tag }}
              {{ form.number }}
              {% if form.number.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.number.errors }}
                </div>
              {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              {{ form.post.label_tag }}
              {{ form.post }}
              {% if form.post.errors %}
                <div class="bg-danger rounded mt-1 p-1 text-white">
                  {{ form.post.errors }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="form-group mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.phone.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.birthdate.label_tag }}
            {{ form.birthdate }}
            {% if form.birthdate.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.birthdate.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group mb-3">
            {{ form.approval }}
            <label>
              Jeg har læst og forstået <a href="{% url 'year:privacy' %}"><b>privatlivspolitiken</b></a>
            </label>
            {% if form.approval.errors %}
              <div class="bg-danger rounded mt-1 p-1 text-white">
                {{ form.approval.errors }}
              </div>
            {% endif %}
          </div>

          <button type="submit" class="btn btn-primary">Opret bruger</button>
          <a href="{% url 'accounts:login' %}?role={{ request.GET.role }}&tab={{ request.GET.tab }}" class="btn btn-secondary">Allerede bruger?</a>
          <div id="result">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|striptags }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
