{% extends "year/page.html" %}
{% block page_content %}
<!-- <div class="row"> -->
<!--   <div class="dropdown"> -->
<!--     <button class="btn btn-secondary dropdown-toggle" style="" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false"> -->
<!--      Select year  -->
<!--     </button> -->
<!--     <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;"> -->
<!--       {% for year_obj in every_year %} -->
<!--        <li class="dropdowm-item "> -->
<!--           <a class="dropdown-item d-block" href="{% url 'year:program' year=year_obj.year %}">{{ year_obj.year }}</a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
<div class="d-flex justify-content-end mb-3">
  {% if perms.accounts.send_mail %}
  <a class="btn btn-primary" style="margin-right:10px;" href="{% url 'hzd:send_mail' %}?next={{ request.path }}">
    <i class="fa-solid fa-paper-plane"></i> Send Mail
  </a>
  {% endif %}
  {% if perms.accounts.add_mail %}
    <a class="btn btn-primary" href="{% url 'hzd:mail_create' %}?next={{ request.path }}">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Opret Mail
    </a>
  {% endif %}
</div>
{% if mails %}
<div class="table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=name">Navn</a></th>
      <th><a class="btn btn-primary" href="?sort=title"><b>Titel</b></a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=link">Link</a></th>
      <th></th>
    </thead>
    <tbody>
    {% for mail in mails %}
      <tr class="clickable-row" data-href="{% url 'hzd:mail' pk=mail.pk %}?next={{ request.path }}">
        <td><b>{{ mail.name }}</b></td>
        <td>{{ mail.title }}</td>
        <td class="d-none d-sm-table-cell">{{ mail.link }}</td>
        <td>
          {% if perms.accounts.change_mail %}
            <a href="{% url 'hzd:mail' pk=mail.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p> Der er ingen mails at vise <p>
{% endif %}

<style>
.clickable-row {
    cursor: pointer;
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const rows = document.querySelectorAll("tr[data-href]");
  rows.forEach(row => {
    row.addEventListener("click", function() {
      window.location.href = this.getAttribute("data-href");
    });
  });
});
</script>
{% endblock page_content %}
