{% extends "year/page.html" %}
{% block page_content %}
<div class="row mb-3">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ area }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for area_obj in every_area %}
        <li class="dropdown-item">
          <a class="dropdown-item d-block" href="{% url 'hzd:shifts' area=area_obj.id %}">
            {{ area_obj.name }}
          </a> 
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:shift_create' %}?area_id={{ area.id }}&next={{ request.path }}">
    <i class="fa fa-plus-circle" aria-hidden="true"> Opret Frivilligvagt</i>
  </a>
</div>

<div class="row">
  <div class="col-md-2">
    <h3>Users</h3>
    <ul id="user-list" class="list-group">
      {% for user in users %}
        <li class="list-group-item bg-grey draggable-user d-flex justify-content-between align-items-center" draggable="true" data-user-id="{{ user.id }}">
          <span>{{ user.username }}</span>
          <span class="badge bg-primary user-shift-count" data-user-id="{{ user.id }}">0</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  {% if grouped_shifts %}
  <div class="col-md-10 row shifts-container mt-3">
    {% for date, time_groups in grouped_shifts.items %}
    <div class="list-group col-md-2 mb-4">
      <h4 class="list-group-item list-group-item-primary">{{ date|date:"F j, Y" }}</h4>

      {% for time_range, shifts in time_groups.items %}
      <div class="shift-group border p-2 mb-2 droppable-time-range" data-time-range="{{ time_range.0|time:'H:i' }}-{{ time_range.1|time:'H:i' }}">
        <strong>{{ time_range.0|time:"H:i" }} - {{ time_range.1|time:"H:i" }}</strong>
        <div class="shift-list d-flex flex-wrap">
          {% for shift in shifts %}
            <div class="text-end p-0 list-group-item w-100 droppable-shift {% if shift.user %}filled{% endif %}" data-shift-id="{{ shift.id }}">
              {% if shift.user %}
                <div class="p-1 assigned-user border d-flex justify-content-between align-items-center bg-grey">
                  <a href="{% url 'hzd:shift' pk=shift.pk %}?area_id={{ area.id }}">
                    <span class="me-2 overflow-hidden text-black" data-user-id="{{ shift.user.id }}">{{ shift.user.username }}</span>
                  </a>
                  <button class="btn-close remove-user-btn" data-shift-id="{{ shift.id }}"></button>
                </div>
              {% else %}
                <a href="{% url 'hzd:shift' pk=shift.pk %}?area_id={{ area.id }}">
                  <i class="fa-solid fa-plus"></i>
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>Der er ingen frivilligvagter at vise.</p>
  {% endif %}
</div>

<div class="mt-4">
  <button id="save-button" class="btn btn-success">Save Changes</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const changes = [];
      const users = document.querySelectorAll('.draggable-user');
      const timeGroups = document.querySelectorAll('.shift-group');

      // Function to update the user shift count
      const updateUserShiftCount = () => {
          const userShiftCounts = {};

          // Count shifts for each user
          document.querySelectorAll('.assigned-user span').forEach(userSpan => {
              const userId = userSpan.dataset.userId;
              userShiftCounts[userId] = (userShiftCounts[userId] || 0) + 1;
          });

          // Update counters in the left-side user list
          document.querySelectorAll('.user-shift-count').forEach(counter => {
              const userId = counter.dataset.userId;
              counter.textContent = userShiftCounts[userId] || 0;
          });
      };

      // Initialize user shift counters on page load
      updateUserShiftCount();

      users.forEach(user => {
          user.addEventListener('dragstart', (e) => {
              e.dataTransfer.setData('text/plain', e.target.dataset.userId);
          });
      });

      timeGroups.forEach(group => {
          group.addEventListener('dragover', (e) => e.preventDefault());
          group.addEventListener('drop', (e) => {
              e.preventDefault();
              const userId = e.dataTransfer.getData('text/plain');
              const shiftElement = group.querySelector('.droppable-shift:not(.filled)');

              if (!shiftElement) {
                  alert("No available shifts in this time range.");
                  return;
              }

              const shiftId = shiftElement.dataset.shiftId; // Get shift ID

              if (!shiftId || !userId) {
                  alert("Invalid drop action: missing shift ID or user.");
                  return;
              }

              // Ensure user isn't already assigned to this shift
              const existingUsers = group.querySelectorAll('.assigned-user span');
              for (let user of existingUsers) {
                  if (user.dataset.userId === userId) {
                      alert("This user is already assigned in this time range!");
                      return;
                  }
              }

              // Assign user to shift (UI update)
              shiftElement.classList.add('filled');
              shiftElement.innerHTML = `
                <div class="assigned-user border d-flex justify-content-between align-items-center bg-grey">
                  <span class="me-2" data-user-id="${userId}">
                    ${document.querySelector(`[data-user-id="${userId}"]`).textContent}
                  </span>
                  <button class="btn btn-sm btn-danger remove-user-btn" data-shift-id="${shiftId}">X</button>
                </div>
              `;

              // ✅ Push the action to changes
              changes.push({ shift_id: shiftId, user_id: userId });

              // ✅ Update user shift count
              updateUserShiftCount();

              attachRemoveButtonListeners();
          });
      });

      const attachRemoveButtonListeners = () => {
          document.querySelectorAll('.remove-user-btn').forEach(button => {
              button.addEventListener('click', (e) => {
                  const shiftId = e.target.dataset.shiftId;

                  if (!shiftId) {
                      alert("Error: Missing shift ID.");
                      return;
                  }

                  // Remove user from shift visually
                  const shiftElement = document.querySelector(`[data-shift-id="${shiftId}"]`);
                  const userId = shiftElement.querySelector('.assigned-user span')?.dataset.userId;

                  shiftElement.classList.remove('filled');
                  shiftElement.innerHTML = `<span class="text-muted"></span>`;

                  // ✅ Push the removal action with `user_id: null`
                  changes.push({ shift_id: shiftId, user_id: null });

                  // ✅ Update user shift count
                  updateUserShiftCount();
              });
          });
      };

      attachRemoveButtonListeners();

      document.getElementById('save-button').addEventListener('click', () => {
          fetch("{% url 'hzd:save_shift_assignments' %}", {
              method: 'POST',
              headers: { 'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}' },
              body: JSON.stringify({ assignments: changes })
          }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Changes saved successfully!');
                    changes.length = 0;
                } else {
                    alert(`Error saving changes: ${data.error}`);
                }
            });
      });
  });
</script>

{% endblock page_content %}
