{% extends "year/page.html" %}
{% block page_content %}

<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" href="{% url 'hzd:artist_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret Kunstner</i></a>
</div>

{% if artists %}
<div class="table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=name&order={% if current_sort == 'name' and next_order == 'asc' %}asc{% else %}desc{% endif %}"><b>Navn</b></a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=short_description&order={% if current_sort == 'short_description' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Manchet</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=long_description&order={% if current_sort == 'long_description' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Beskrivelse</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=img&order={% if current_sort == 'img' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Billede</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=owner&order={% if current_sort == 'owner' and next_order == 'desc' %}desc{% else %}asc{% endif %}">Ejer</a></th>
      <th></th>
    </thead>
    <tbody>
    {% for artist in artists %}
        <tr class="clickable-row"  data-href="{% url 'hzd:artist' pk=artist.pk %}?next={{ request.path }}">
          <td><b>{{ artist.name }}</b></td>
          <td class="d-none d-sm-table-cell">{{ artist.short_description }}</td>
          <td class="d-none d-sm-table-cell">{{ artist.long_description }}</td>
          <td class="d-none d-sm-table-cell">
            {% if artist.img %}
            <a href="{{ artist.img.url }}">
              <img class="img-fluid" src="{{ artist.img.url }}" alt='' style='display: block; max-height:10vh;'>
            </a>
            {% endif %}
          </td>
          <td class="d-none d-sm-table-cell">
            <!-- TODO: add link to user details page --> 
            <a href="#">
              {{ artist.owner }}
            </a>
          </td>
          <td>
            <a href="{% url 'hzd:artist' pk=artist.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p> Der er ingen kunstnere at vise <p>
{% endif %}
{% endblock page_content %}
