{% extends "year/page.html" %}
{% block page_content %}

<div class="row mb-3">
  <div class="dropdown bello text-center">
    <button class="btn opacity-25 dropdown-toggle" style="font-size:2rem;" type="button" id="dropdownSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b style="font-size:3rem">{{ year }}</b> 
    </button>
    <ul class="dropdown-menu scroller" aria-labelledby="dropdownSelectButton" style="max-height:15rem;overflow-y:scroll;">
      {% for year_obj in every_year %}
        <li class="dropdowm-item ">
          <a class="dropdown-item d-block" href="{% url 'hzd:areas' year=year_obj.year %}">{{ year_obj.year }}</a> 
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if perms.year.add_volunteerarea %}
  <div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary" href="{% url 'hzd:area_create' %}?next={{ request.path }}"><i class="fa fa-plus-circle" aria-hidden="true"> Opret Område</i></a>
  </div>
{% endif %}

{% if volunteer_areas %}
<div class="table-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th><a class="btn btn-primary" href="?sort=name&order={% if current_sort == 'name' and next_order == 'desc' %}desc{% else %}asc{% endif %}"><b>Navn</b></a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=mail&order={% if current_sort == 'mail' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Email</a></th>
      <th><a class="btn btn-primary" href="?sort=volunteerCount&order={% if current_sort == 'volunteerCount' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Frivillige</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=volunteerMax&order={% if current_sort == 'volunteerMax' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Max</a></th>
      <th><a class="btn btn-primary" href="?sort=managerCount&order={% if current_sort == 'managerCount' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Afviklere</a></th>
      <th class="d-none d-sm-table-cell"><a class="btn btn-primary" href="?sort=managerMax&order={% if current_sort == 'managerMax' and next_order == 'asc' %}asc{% else %}desc{% endif %}">Max</a></th>
      <th></th>
    </thead>
    <tbody>
      {% for area in volunteer_areas %}
      <tr class="clickable-row" data-href="{% url 'hzd:area' pk=area.pk %}?next={{ request.path }}">
        <td><b>{{ area.name }}</b></td>
        <td class="d-none d-sm-table-cell">{{ area.mail }}</td>
        <td>{{ area.volunteerCount }}</td>
        <td class="d-none d-sm-table-cell">{{ area.volunteerMax }}</td>
        <td>{{ area.managerCount }}</td>
        <td class="d-none d-sm-table-cell">{{ area.managerMax }}</td>
        <!-- <td>{{ area.bg }}</td> -->
        <!-- <td>{{ area.short_description }}</td> -->
        <!-- <td>{{ area.long_description }}</td> -->
        <!-- <td>{{ area.start_time }}</td> -->
        <!-- <td>{{ area.end_time }}</td> -->
        <!-- <td>{{ area.published }}</td> -->
        <td>
          {% if area.name in group_names %}
            <a href="{% url 'hzd:area' pk=area.pk %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
            <br>
            <a href="{% url 'hzd:volunteers' year=current_year %}?next={{ request.path }}"><i class="fa fa-users" aria-hidden="true"></i></a>
          {% endif %}
        </td>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <p> there are no pages to be displayed <p>
{% endif %}
{% endblock page_content %}
