{% extends "year/page.html" %}
{% block page_content %}
<div class="row mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row">
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2023</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2022</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2019</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2018</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2017</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2016</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2015</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2014</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2013</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2012</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2011</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2010</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2009</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2008</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2007</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2006</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2005</p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border border-white border-2 rounded-3 fill-color-bg">
	        <a href="#" class="fill-div mt-2" target="_blank" rel="noopener noreferrer">
            <p class="text-center bello">2004</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock page_content %}
