{% extends "year/page.html" %}
{% load currency %}
{% block page_content %}
{% for year in years_with_donations %}
  {% if year.donations.all %}
    {% if year.published == True %}
      <h5 style="text-align:center">{{ year.year }}</h5>
      <p style="text-align:center">
      {% for donation in year.donations.all %}
        {% if donation.published == True %}
          {{ donation.receiver }} {{ donation.amount|danish_currency }}<br>
        {% endif %}
      {% endfor %}
      </p>
      <br>
    {% endif %}
  {% endif %}
{% endfor %}
{% endblock page_content %}
